body {
    margin: 0;
    padding: 0;
    background-color: #F5f5dc;
    color: hsl(0, 36%, 20%);;
    font-weight: 600;
    font-size: 20px;
}







#nav-container {
    height: auto;
    min-height: 90px;
    width: 100%;
    background-color: #FF885B;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    gap: 30px;
    color: hsl(0, 36%, 20%);;
    position: relative;
   
}

.logo {
    height: 70px;
    width: 120px;
    border-radius: 10px;
    background-image: url(bus.png);
    background-size: cover;
    background-position: center;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    background-color: #f56733;
    transition: border-color 0.5s ease;
    border-radius: 5px;
}

.sidenav {
    position:absolute;
    top:4%;
    left: 60%;
    /* transform: translateX(-50%); */

    

    display: flex;
    align-items: center;
    
    gap: 20px;
}

.sidenav:hover {
    cursor: pointer;
}

.bookings, .sign, .acc, .lang, .help {
    
    padding: 8px;
}

.acc {
    margin-right: 5px;
}

.lang-cont {
    display: flex;
    align-items: center;
    
    padding: 10px;
}

.lang {
    padding: 0;
}


.car-btn {
    background-color: #FF885B;
    border: none;
    
}

.car-dbtn {
    display: none;
    background-color: #FF885B;
    border: none;
    
}
.lang-cont {
    display: flex;
    align-items: center;
    
    padding: 10px;
    position: relative; 
}

.dropdown-content {
    display: none; 
    position: absolute;
    left: 40%; 
    top: 100%; 
    background-color:#FFffff ; 
    color:hsl(0, 36%, 30%) ;
    border:  hsl(0, 36%, 30%) 3px solid;
    
    z-index: 1000; 
    flex-direction: column;
    height: auto; 
    width: 120px; 
    /* padding: 10px 15px; */
    border-radius: 5px;
    transition: opacity 0.3s ease, visibility 0.3s ease; 
    opacity: 0; 
    visibility: hidden;
   
}


.lang-cont:hover .dropdown-content {
    display: flex;
    opacity: 1; 
    visibility: visible; 
    transition-delay: 0.1s;
    cursor: pointer; 
    
}


.tamil-text {
    font-size: 17px; 
}
.tamil-inp-text {
     font-size: 15px;
    
}
.english-text {
    font-size: 20px; 
}

.ftpd-margin{
margin-left:20 ;
}



.lang-cont:hover .dropdown-content {
    transition-delay: 0s;
}

.dropdown-content::after {
    content: '';
    position: absolute;
    top: -12px; 
    left: 47.7%; 
    margin-left: -5px;
    border-width: 6px; 
    border-style: solid;
    border-color: transparent transparent #ff966f transparent; 
    
}

.dropdown-content::before {
    content: '';
    position: absolute;
    top: -20px; 
    left: 45%; 
    margin-left: -5px;
    border-width: 10px;

    border-style: solid ;
    border-color: transparent transparent hsl(0, 36%, 30%)  transparent; 
    
  
    z-index: -1; 
    
}


.lang-cont:hover .car-btn {
    display: none;
    background-color:#f56733;
}

.lang-cont:hover .car-dbtn {
    display: block;
    background-color:#f56733;
}

.sph{
     background-color: #ff966f;
     border: none;
     height: 30px;
     width: 120px;
     padding: none;
     
    font-weight: 300;

     
}





.splborder:hover{
    background-color: #f57749;
    
}





.hero-container {
    display: flex;
    position: relative;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-image: url(bus-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    height:400px; 
    background-size: 1000px 500px;
    background-color: #f5f5dc;
    
}

.hero-search {
    height: 150px; 
    width:1000px; 
    margin-top: 115px;
    background-color: rgba(245, 253, 220, 0.9); 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
    display: flex; 
    flex-direction: row; 
    align-items: flex-start; 
    padding: 20px; 
    border-radius: 10px;
}


.custom-radio {
    display: flex;
    align-items: center;
    margin-top: 20px;
    
}

.custom-radio input[type="radio"] {
    display: none; 
}

.custom-radio label {
    position: relative;
    padding-left: 30px; 
    cursor: pointer;
    margin-left: 5px;
}

.custom-radio label::before {
    content: '';
    position: absolute;
    left: 0; 
    top: 60%;
    transform: translateY(-50%);
    width: 20px; 
    height: 20px; 
    border: 2px solid hsl(0, 36%, 30%); 
    border-radius: 50%; 
    background: white;
    transition: background-color 0.3s ease; 
}

.custom-radio input[type="radio"]:checked + label::before {
    background-color: #FF885B; 
    border-color: hsl(0, 36%, 20%); 
}

.custom-radio input[type="radio"]:checked + label::after {
    content: '';
    position: absolute;
    left: 7px;
    top: 60%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px; 
    border-radius: 50%; 
    background: white;
}

.hero-input {
    position: absolute;
    height: 100px;
    width: 650px; 
    background-color: rgba(245, 253, 220, 0.3);
    top: 48%;
    left: 12%;
    display: flex;
    justify-content: flex-start;
    
}

.srch-inp2 {
    position: absolute;
    height: 20px;
    width: 200px;
    margin-top: 20px; 
    top: 25%;
    left: 38%;
    font-size: 20px;
    padding-left: 20px;
    border: 2px solid hsl(0, 36%, 20%);
    background-color: #f0f0f0;
}

.srch-inp1 {
    position: absolute;
    height: 20px;    
    width: 200px;
    margin-left: 2px;
    top: 45%;
    left: 3.5%;
    font-size: 20px;
    padding-left: 20px;
    border: 2px solid hsl(0, 36%, 20%);
    background-color: #f0f0f0;
 }

.inp1-results {
    position: absolute;
    top: 84%;
    left: 4.5%;
    height: 220px;
    width: 235px;
   
    overflow: scroll;
    font-size: 20px;
    color: hsl(0, 36%, 20%);
    border-radius: 10px;


} 





.inp1-results::-webkit-scrollbar {
    display: none;
}

.inp1-results {
    scrollbar-width: none; 
} 

.inp1-results ul{
    list-style-type: none;
    padding: 0;            /* Remove default padding */
    margin: 0;  
    background-color: #f0f0f0;
}




.inp1-results li{
height: 25px;
width: 180px;
list-style-type: none;
padding: 20px;
margin: 10px;
}


.inp1-results li:hover{
    background-color: #dfdfdf;
}



    .city{
        height:35px ;
        width:345px;
        padding: 15px;
    }



    .city:hover{
        background-color:rgb(230, 227, 227);
        cursor:pointer;
    }





.ft-text1{
 
    
    height: 20px;
    
    margin-left: 25px;
    margin-top: 15px;
} 
.ft-text2{
    height: 20px;
    
    margin-left: 180px;
    margin-top: 20px;

}



.inp2-results {
    position: absolute;
    top: 84%;
    left: 37%;
    height: 220px;
    width: 235px;
    overflow: scroll;
    font-size: 20px;
    color: hsl(0, 36%, 20%);

} 

.inp2-results::-webkit-scrollbar {
    display: none;
}

.inp2-results {
    scrollbar-width: none; 
} 


.inp2-results ul{
    list-style-type: none;
    padding: 0;            /* Remove default padding */
    margin: 0;  
    background-color: #f0f0f0;
}




.inp2-results li{
height: 25px;
width: 180px;
list-style-type: none;
padding: 20px;
margin: 10px;
}


.inp2-results li:hover{
    background-color: #dfdfdf;
}




.lr-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 49%;
    left:36%;
    height:28px;
    width:28px;
    border-radius: 25px;
    background-color: #FF885B;
    transition: transform 0.5s;

}


.spin {
    transform: rotate(180deg); 
}


.fa-arrow-right-arrow-left{

    background-color: #FF885B;

}


.dp-text{
    
    height: 20px;
    
    margin-left: 215px;
    margin-top: 20px;
}

.srch-inp3 {
    position: absolute;
    height: 30px;
    width: 170px;
    top: 45%;
    left: 74%;
    font-size: 20px;
    padding-left: 7px; 
    padding-right: 30px;
    border: 2px solid hsl(0, 36%, 20%);
    background-color: #f0f0f0;
    
}


.calendar {
    position: absolute;
    top: 62%;
    left: 72%;
    background-color:rgba(245, 253, 220, 5);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid hsl(0, 36%, 20%);
   

}


.toggledisplay{
    display: none;
}




.month-year {
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding: 10px;
    
    
  
}

.month-year-display {
    grid-column: span 7; 
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
    font-size:20px;
    font-weight: 800;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    font-weight: 600;
}

.day {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.current-day {
    background-color: #28a745;
    color: white;
    border-radius: 50%;
}

.header {
    font-weight: bold;
    text-align: center;
}



.selected-day {
background-color: #ff966f; 
color: white; 
border-radius: 50%; 
}













.fa-angle-left {
    position: absolute;
    left:100%;
    top: 65%;
    transform: translateY(-50%); 
    font-size: 20px;
    pointer-events: auto; 
    z-index: 2; 
}

.fa-angle-right {
    position: absolute;
    left: 102%; 
    top: 65%;
    transform: translateY(-50%); 
    font-size: 20px;
    pointer-events: auto;
    z-index: 2;
}

.angle-icon:hover {
    cursor: pointer;
}


.srch-inp4{

    position: absolute;
    height: 30px;
    width: 110px;
    top: 45%;
    left: 108%;
    font-size: 20px;
    padding-left: 7px; 
    padding-right: 30px;
    border: 2px solid hsl(0, 36%, 20%);
    background-color: #f0f0f0;

    


}

.pas-text{

    height: 20px;
    margin-left: 140px;
    margin-top: 20px;

}


.drp-icon{

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 54%;
    left:126%;
    font-size: 20px;
    border-radius: 25px;
    

}

.srch-btn{

    position: absolute;
    height: 35px;
    width: 150px;
    top: 45%;
    left: 133%;
    font-size: 20px;
    background-color: #ff966f;
    border-radius: 5px;
    border: none;
    color:hsl(0, 36%, 20%);
    padding-right:10px;
    


}

.manage-user{
height: 100px;
width:600px;
margin-top: 0px;
background-color:rgba(245, 253, 220, 0);
display: flex;
justify-content: center;
padding-top: 20px;





}

.track-trip{

    height: 50px;
    width: 200px;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 20px;
    color:  hsl(0, 36%, 20%);
    background-color: #ff966f;
    border:2px solid hsl(0, 36%, 20%);
    

}
.subscription{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 20px;
    color: hsl(0, 36%, 20%) ;
    background-color: #ff966f;
    border:2px solid hsl(0, 36%, 20%);
}



.no-of-pass{
    height: 50px;
    width: 260px;
    position: absolute;
    display: flex;
    justify-content: center;
    background-color:rgba(245, 253, 220, 0);
    top: 85%;
    left: 99.2%;
    padding: none;
    
   
}


.toggledisplaypass{
    display: none;
}

.srch-inp5{
    height: 40px;
    width: 120px;
    font-size: 20px;
    border: 2px solid hsl(0, 36%, 30%);
    border-left: none;
    border-right: none;
    background-color: #f0f0f0;

}

.srch-inp5::placeholder{
    display: flex;
    text-align: center;
}
.increase{
height: 45.5px;
width: 55px;
font-size: 30px;
color: hsl(0, 36%, 30%);
margin-right:15px ;
border-radius: 0 10px 10px 0;




}

.decrease{
    height:45.55px;
    width: 55px;
    margin-left: 5px;
    font-size: 40px;
    color: hsl(0, 36%, 30%);
    margin-left:20px ;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    

}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; 
}

Responsive Input Fields */
.srch-inp1, .srch-inp2, .srch-inp3, .srch-inp4, .srch-btn {
    width: 100%;
    max-width: 200px;
    padding: 10px; 
}
 /* Responsive Design for Mobile  */



@media screen and (max-width: 600px) {


    body{
        max-width: 100%;
        margin: none;
        padding: none;
    }
        .hero-input {
        width:auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
    } 
.drp-icon{
    width: auto;
    position: unset;
}

    .annoying-btn{

        display: flex;
        flex-direction: column;
        position: inherit;
    }
    .hero-search{

        width:auto;
    }
    .srch-btn{
        width: auto;
    }
#nav-container{
    height:1rem;
    width:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    flex-wrap: nowrap;
    gap:0;
    overflow:visible;

    
    
  
} 





/* 
#nav-container {
    height: auto;
    min-height: 90px;
    width: 100%;
    background-color: #FF885B;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    gap: 30px;
    color: hsl(0, 36%, 20%);;
    position: relative;
    flex-wrap: wrap; 
} */

    .hero-container{
        height:10rem;
        width:100%;
display: flex;
flex-direction:column;
background-size: 100px 100px;
overflow: visible;
        
    }
 
    .no-of-pass{
       width: auto;
       margin: none;
       position: unset;
    }
    .manage-user{
        width: auto;
        display: flex;
        flex-direction: column;
        background-color: brown;
    }
    
    .sidenav{
        position:absolute;
        left: 0%;
        top: 5%;
      
        
      
        height:15rem;
        width:55%;
        order: 1;
        margin-left:0;
     
        flex-direction: column;
       
        gap: 5px;
        margin: none;
        background-color: brown;
    
        
        
        
  
  
}


/* 
.sidenav {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 20px;
} */





    .logo {
        height: 70px;
        width: 120px;
        border-radius: 10px;
        background-image: url(response-bus.png);
        background-size: cover;
        background-position: center;
        order: 2;
        
    }
    .lang-cont{
        order: 2;
    }

    .track-trip{
        width: auto;
    }
    .subscription{
        width: auto;
    }
    .srch-inp1,
    .srch-inp2,
    .srch-inp3,
    .srch-inp4,
    .srch-inp5 {
        position: unset;
        width: 20%; 
        margin: 5px 0; 
    }

    .inp1-results, .inp2-results, .calendar {
        width: 90%;
        left: 5%;
    }

    .fa-angle-left, .fa-angle-right {
        width: auto; 
        position: unset}

    .drp-icon, .srch-btn {
    position: unset;
    width: auto;
    }

    .decrease{
        width: auto;
        margin: none;
    }
    .increase{
        width: auto;
        margin: none;
    } } 
